input {
    display: block;
    margin-bottom: 10px;
}

button {
    width: 48%;
    display: inline-block;
}

.hidden {
    /*display: none;*/
}

.register {
    display: none;
    width: max-content;
    text-align: center;
}

.balances {
    text-align: center;
}

.coins-num {
    font-size: 25px;
}

.coins-label {
    font-size: 15px;
}

.generators {
    margin-top: 20px;
}

.generators div {
    display: block;
    margin: 10px;
}

.generator {
    display: inline-block;
    background-color: #7ac4f5;
    width: 100%;
    padding: 5px 10px;
    margin-right: 152px;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #18d651;
    cursor: pointer;
}

.generator-num {
    font-size: 20px;
    text-align: right;
}

.generator-label {
    display: block;
    font-size: 13px;
    text-align: center;
}

.inlineblock {
    display: inline-block;
}

.upgrades {
    width: 200px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #18d651;
}

.extra {
    margin-top: 30px;
    width: 200px;
    margin-right: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #18d651;
}

.omgitsbig {
    justify-content: space-between;
    display: flex;
    text-align: center;
}
